:root {
    --Verde: rgb(122, 172, 21);
    --preto: black;
    --cinza: gray;        
}


* {
    background: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 100%;
    color: rgb(122, 172, 21)    
}


.logo {   
    margin-left: 10px;
    padding-top: 10px;
    width: 4%;
}

main {
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
}

textarea {
    width: 550px;
    height: 350px;
    border-color: rgb(122, 172, 21);
    border-radius: 10px;
    color: rgb(122, 172, 21);
    margin-top: 30px;
    margin-right: 100px;      
}

::placeholder {color: rgb(122, 172, 21);}
    .text-area:focus {
        outline: none;       
    }

    h6 {
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 35px;
    }

.mensagem {
        background: gray;
        background-image: url(./Imagens/loading.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10%;
        border-radius: 14px;
        color: rgb(0, 0, 0);           
        width: 550px;
        height: 350px;   
}

.btn-desencriptar {
    background: black;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    margin-left: 40px;
    width: 220px;
}

.btn-encriptar {
    background: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 220px;
    margin-left: 40px;
}

.btn-copiar {
    background: black;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    margin-left: 135px;
    margin-top: 50px;
    position: absolute;
    width: 300px;
    background-position: center;
}

button:hover {
    transform: scale(1.1);
    background-color: gray;
    color: black;
}

.copyright {
    text-align: center;
    padding-top: 70px;
}