:root {
    --Verde: rgb(122, 172, 21);
    --preto: black;
    --cinza: rgb(173, 168, 168);        
}


* {
    background: var(--preto);
    font-size: 22px;
    line-height: 100%;
    color: var(--Verde)    
}


.logo {   
    margin-left: 10px;
    padding-top: 10px;
    width: 4%;
}

main {
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
}

textarea {
    width: 550px;
    height: 350px;
    border-color: var(--verde);
    border-radius: 10px;
    color: var(--verde);
    margin-top: 30px;
    margin-right: 100px;      
}

::placeholder {color: var(--verde);;}
    .text-area:focus {
        outline: none;       
    }

    h6 {
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 35px;
    }

.mensagem {
        background: var(--cinza);
        background-image: url(./Imagens/loading.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10%;
        border-radius: 14px;
        color: var(--preto);           
        width: 550px;
        height: 350px;   
}

.btn-desencriptar {
    background: var(--preto);
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    margin-left: 40px;
    width: 220px;
}

.btn-encriptar {
    background: var(--preto);
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 220px;
    margin-left: 40px;
}

.btn-copiar {
    background: var(--preto);
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    margin-left: 135px;
    margin-top: 50px;
    position: absolute;
    width: 300px;
    background-position: center;
}

button:hover {
    transform: scale(1.1);
    background-color: var(--cinza);
    color: var(--preto);
}

.copyright {
    text-align: center;
    padding-top: 70px;
}